@{
    ViewBag.Title = "Dashboard";
}

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon icon-home home-icon"></i>
            <a href="#">Setup</a>
        </li>
        <li class="active">User List</li>
    </ul>
</div>

<section id="container">
    <div class="all-margin">
        <div class="row cust-row clear-lr-margin">
            <div class="btn-group">
                <a href="#" class="btn btn-default btn-bgcolor powertip" title="Add"><i class="icon-plus"></i></a>
                <a href="#" class="btn btn-default btn-bgcolor powertip" title="Edit"><i class="icon-edit"></i></a>
                <a href="#" class="btn btn-default btn-bgcolor powertip" title="Delete"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="row cust-row">
            <div class="col-xs-12">
                <!-- table -->
                <table class="table celled table-striped  table-hover">
                    <thead>
                        <tr>
                            <th class="center">
                                <input type="checkbox" />
                            </th>
                            <th>Domain</th>
                            <th>Price</th>
                            <th class="hidden-480">Clicks</th>

                            <th>
                                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                Update
                            </th>
                            <th class="hidden-480">Status</th>

                            <th class="btn-item2"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="">
                            <td class="center">
                                <input type="checkbox" />
                            </td>

                            <td>
                                <a href="#">ace.com</a>
                            </td>
                            <td>$45</td>
                            <td class="hidden-480">3,330</td>
                            <td>Feb 12</td>

                            <td class="hidden-480">
                                <span class="label label-sm label-warning">Expiring</span>
                            </td>

                            <td>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-info btn-sm"><i class="icon-pencil"></i></a>
                                    <a href="#" class="btn btn-danger btn-sm"><i class="icon-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="">
                            <td class="center">
                                <input type="checkbox" />
                            </td>

                            <td>
                                <a href="#">ace.com</a>
                            </td>
                            <td>$45</td>
                            <td class="hidden-480">3,330</td>
                            <td>Feb 12</td>

                            <td class="hidden-480">
                                <span class="label label-sm label-warning">Expiring</span>
                            </td>

                            <td>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-info btn-sm"><i class="icon-pencil"></i></a>
                                    <a href="#" class="btn btn-danger btn-sm"><i class="icon-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- end table -->

            </div>
        </div>
    </div>
</section>